@using SweetShop.Domain.Entities
@model CartProducts



@{
	ViewBag.Title = "title";
	Layout = "_Layout";
} 
<div class="card-cart">
	@if (Model.CartProductItems.Count == 0)
	{
		<h1 class="h1Text-index">Корзина пуста :(</h1>
	}
	else
	{
		@foreach(var item in @Model.CartProductItems){
		<div class="card-cart-product">
			<p class="text-cart-product">@item.Product!.Name</p>
			<table>
				<tr margin-left:20px>
					<td> </td>
					<td><p class="text-cart-product">@item.Price р./шт.</p></td> 
					<td><div class="bblockHomeVl"></div></td> 
					<td><p class="text-cart-product">@item.Count шт.</p></td>
					<td><div class="bblockHomeVl"></div></td>
					<td><p class="text-cart-product">@item.ProductPrice() рублей</p></td>
				</tr>
			</table>
			
		</div>
		
		}	
		
		<a form method="post" asp-controller="Account" asp-action="Register" class="blubtn" >@Model.Result() руб.</a>
}
</div>
