
@model List<SweetShop.Domain.Product>

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}    

<style>
    .card-buttons-group {
        text-align: right;
        padding: 10px;
    }
</style>

<div class="card-buttons-group">
    <button class="btn btn-danger" id='hideCardsId'>Скрыть</button>
    <button class='btn btn-success' id='showCardsId'>Показать</button>
</div>

<div style="padding: 10px;"> </div>
@if (!User.Identity.IsAuthenticated)
{
	<h1>sss</h1>
}
@if (Model.Count == 0)
{
    <div class="card col-md-12">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://thumbs.dreamstime.com/b/плача-разрывы-вручают-вычерченный-стикер-с-милым-зефиром-в-стиле-143605142.jpg" 
                     class="img-fluid rounded-start rounded">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">Список вкусняшек пуст :(</h5>
                    <p class="card-text">
                        Список пополниться позже, не расстраивайтесь
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 10px;"></div>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}
else
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="row row-cols-1 col-md-4 text-center">
                <div class="col" style="padding: 10px;">
                    <div class="card">
                        <img src="https://karamelka.su/storage/1103/conversions/-жев.-Сердечки-3-цветные-в-сахаре-1кг-х-12-FINI-Испания-md.jpg" class="card-img-top" alt="@product.Name">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Weight кг</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Стоимость: @product.Price ₽</li>
                        </ul>
                        <div class="card-body">
                            <a asp-action="GetProduct" asp-route-id="@product.Id" class="card-link">Перейти</a>
                            @*a asp-controller="Basket" asp-action="Add" asp-route-id="@id" class="card-link">Добавить</a> *@
                            @if (User.IsInRole("Admin"))
                            {
                                <hr/>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Удалить</a>
                                <a asp-controller="Product" asp-action="Save" asp-route-id="@product.Id" class="btn btn-primary">Изменить</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>   
}

